body { font-style: typewriter;
background-color: lightblue;
font-size: 20px;
color: darkblue;
}
paragraph {
    color: pink;
    background-color: darkgoldenrod;
    font-style: italic;
    border-style: dotted;
    border-color: green;
    
}

